body {
  padding: 4rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 3px solid rgba(59, 105, 83, 0.22);
  background: white;
}

.image-frame {
  display: inline-block;
  margin: 0 12px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(59, 105, 83, 0.22);
  border-radius: 12px;
  scale: 0.75;
  rotate: -2.65deg;
  transition: all 0.6s cubic-bezier(0.4, -0.07, 0.27, 1.48);
}

.image-frame::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 10px;
  width: 40px;
  height: 107px;
  background: url(../assets/scotch-01.png);
  background-size: contain;
  rotate: 218deg;
}

.image-frame::after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: -10px;
  width: 66px;
  height: 44px;
  background: url(../assets/scotch-02.png);
  background-size: contain;
  rotate: 308deg;
}

/* .image-frame:hover {
  scale: 1.1;
  rotate: 2.65deg
} */

.image-frame img {
  width: 450px;
  height: 300px;
  border: 1px solid #E9E9E9;
}

.image-frame figcaption {
  color: #35624d;
  font-size: 14px;
  font-family: 'Pretendard';
  font-weight: 500;
  line-height: 1.2; /* 120% */
}