body {
  padding: 4rem;
}

.image-frame {
  display: inline-block;
  margin: 0 12px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(59, 105, 83, 0.22);
  border-radius: 12px;
}

.image-frame img {
  width: 450px;
  height: 300px;
  border: 1px solid #E9E9E9;
}

.image-frame figcaption {
  color: #35624d;
  font-size: 14px;
  font-family: 'Pretendard';
  font-weight: 500;
  line-height: 1.2; /* 120% */
}