.form {
  margin: 40px 0;
}

.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
  padding: 0.4em;
  gap: 4px;
}

.buttonGroup {
  box-sizing: border-box;
  overflow: hidden;
  display: inline-flex;
  width: clamp(160px, 50vw, 240px);
  margin-bottom: 12px;
  border-radius: 50px;
  background: var(--accent--100);
  color: var(--accent--900);
}

.buttonGroup button {
  cursor: pointer;
  flex: 1;
  border: 0;
  padding: 0.8em 1.2em;
  font-weight: 700;
  background: transparent;
  color: inherit;
  border-radius: 0 50px 50px 0;
}

.buttonGroup button:hover {
  background: var(--accent--900);
  color: var(--accent--100);
}

.buttonGroup button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--accent--900);
}

.buttonGroup button:first-child {
  border-right: 1px solid var(--gray--100);
  border-radius: 50px 0 0 50px;
}
